// window
$large: 1440px;
$desktop: 1380px;
$laptop: 1024px;
$tablet: 768px;
$phone: 480px;

$min_w: 360px;


// colors
$white: #fff;
$main-bg: #F7F8F9;
$input-bg: #E0EBEF;
$light-blue: #E7F3FF;
$blue: #2A358C;
$sky: #00B6ED;
$black: #041423;
$yellow: #E2BD06;
$gray: #84909B;
$green: #00AE5B;
$red: #D30812;